<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Class and Style Binding</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    .circle {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
  </style>
</head>
<body>

  <div id="app">

    <p v-if="errors" class="mt-2 text-danger" style="text-align: center">{{ errors }}</p>

    <div class="row justify-content-center mt-3">
      <form @submit.prevent="onSubmit">
        <div class="form-group">
          <label for="commentText">Publish a comment!</label>
          <textarea class="form-control mb-3"
                    v-model="comment"
                    id="commentText"
                    cols="80"
                    rows="5">
          </textarea>
          <button type="submit" class="btn btn-sm btn-primary">Publish</button>
        </div>
      </form>
    </div>

    <div class="container">
      <div class="card mb-3" v-for="comment in comments">
        <div class="card-body">
          {{ comment }}
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
