{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}
<h3>Create Your QuestionTime Account</h3>
<div class="registration-form-container">
  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-sm btn-outline-primary">Register</button>
  </form>
  <small class="text-muted">
    <a href="{% url 'login' %}">Login</a>
  </small>
</div>
{% endblock %}
