{% extends 'base.html' %}

{% block style %}
<style>
  html, body {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
  }
  .login-form-container {
    width: 300px;
    margin: auto;
  }
  .registration-form-container {
    width: 400px;
    margin: auto;
  }
  .auth-box {
    border: 2px solid #aaa;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    padding: 30px 20px;
  }
  .outer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
{% endblock %}

{% block content %}
<div class="outer-box">
  <div class="auth-box text-center">
    {% block auth %}
    {% endblock %}
  </div>
</div>
{% endblock %}
